on early-boot 
    chown system radio /sys/class/leds/kpdbl_menu/brightness
    chown system radio /sys/class/leds/kpdbl_back/brightness

    chmod 0660 /sys/class/leds/kpdbl_menu/brightness
    chmod 0660 /sys/class/leds/kpdbl_back/brightness

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.ef65
    interface android.hardware.light@2.0::ILight default 
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical 
